library/src/test/resources/employeeBean.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
 
  <xs:element name="EmployeeBean">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="dept" type="xs:string"/>
      <xs:element name="eid" type="xs:integer"/>
      <xs:element name="dateOfJoining" type="xs:date"/>
      <xs:element name="address">
      	<xs:complexType>
		    <xs:sequence>
			    <xs:element name="city" type="xs:string"/>
			    <xs:element name="country" type="xs:string"/>
		    </xs:sequence>
		</xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>
 
</xs:schema>